<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- Xposed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="V2TXLive startLivePlay URL 抓取" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <!-- UI 入口：显示 V2TXLive hook 结果 -->
        <activity
            android:name="com.byhz.xposed.MainActivity"
            android:exported="true"
            android:label="LiveURL 抓取">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
